.header{
   background-image: url(../img/pattern-darkblue.png);
   color: white!important;
}
.cor_branca{
    font-size: 125%;
    color: white!important;
}
.thumbnail{
    border:none;
    cursor:pointer;
}
.thumbnail img{
    width: 100%;
    -webkit-box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.75);
}
.thumbnail img:hover{
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
        -ms-transform: scale(1.03,1.03);
    -webkit-transform: scale(1.03,1.03);
    transform: scale(1.03,1.03);
}
.nohover img:hover{
    -webkit-box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.75);
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
.thumbnail .caption span{
font-size: 100%;
    font-weight: 700;
    text-align: center;
}
.noBut{
   cursor: default;
}