{% load staticfiles %}
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stormApp/css/style.css' %}" />


  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home  cor_branca" aria-hidden="true"></span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle  cor_branca" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{genero}} <span class="caret"></span></a>
              <ul class="dropdown-menu" id="select_genero">
                    <li><a href="#" onclick="getFilmes('all',1);">todos</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container theme-showcase hidden" id="ator_container">
        <div class="page-header"style="margin-top:10%;">
         </div>
        <div class="row" id="ator_detalhes" >
            <div class="col-sm-12 col-md-3">
                <div class="thumbnail nohover">
                    <img src="media/actors/sem_foto.jpg" id="ator_img">
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                    <h1 id="detalhe_ator_nome"></h1>
            </div>
        </div>
    </div>
    <div class="container theme-showcase hidden" id="detalhe_filmes_container">
        <div class="page-header"style="margin-top:10%;">
         </div>
        <div class="row" id="filme_detalhes" >
            <div class="col-sm-12 col-md-4">
                <div class="thumbnail nohover">
                    <img src="media/movies/sem_foto.png" id="detalhe_filme_img">
                    <div class="caption" style="font-size: 240%;">
                        <div class="row">
                            <div class="col-md-8" style="margin-top: 2%;" id="detalhe_filme_rate">
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-time" aria-hidden="true" style=" margin-left: 0%;
            font-size: 60%;
            margin-right: -3%;"></span>
                                <h4 style="display: inline;font-size: 50%;" id="detalhe_filme_duracao"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                    <h1 id="detalhe_filme_titulo"></h1>
                    <h3 id="detalhe_filme_titulo_original" style="margin-top:-2%;margin-bottom:10%;"></h3>
                  <h4>Sinopse:</h4>
                  <p id="detalhe_filme_sinopse"></p>
                  <h4>Elenco:</h4>
                  <p id="detalhe_filme_elenco"></p>
                  <h4>Diretor:</h4>
                  <p id="detalhe_filme_diretor"></p>
                  <h4>{{genero}}:</h4>
                  <p id="detalhe_filme_generos"></p>
                  <h4 style="margin-top:10%;" id="detalhe_filme_recomendacao">
                  </h4>

            </div>
        </div>
    </div>
    <div class="container theme-showcase" id="lista_filmes_container">
        <div class="page-header"style="margin-top:10%;">
            <h1 id="titulo_lista">Listagem de filmes</h1>
            <div style="margin-top: -3%;" class="btn-group pull-right" id="lista_ordem_seletor">
              <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="ordem_titulo">Ordenar por: </span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" onclick="getFilmes('none',1);">Ordem alfabetica</a></li>
                <li><a href="#" onclick="getFilmes('none',-1);">Ordem alfabetica inversa</a></li>
              </ul>
            </div>
         </div>
        <div class="row" id="filmes_thumbnails">

        </div>
    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'stormApp/js/funcs.js' %}"></script>
    <script>
        load();
    </script>
  </body>